.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;

    .title {
        text-align: center;
    }

    .content {
        font-size: 14px;
    }

    .img {
        img {
            width: 150px;
            border-radius: 50%;
        }
    }

    .button {
        margin-top: 30px;
    }

    a {
        color: #ffffff;
        text-decoration: none;
        font-weight: 600;
    }
}