<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Profile
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Profile</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="container">
        <div class="img">
            <img src="https://avatars.githubusercontent.com/u/55002214?v=4" alt="">
        </div>
        <h1 class="title">Junio Cesar Magalhães Goulart</h1>
        <p class="content">Estudante de sistemas de informação</p>

        <ion-button class="button" color="primary"><a href="juniocmgoulart@gmail.com"> Meu email</a></ion-button>
    </div>

</ion-content>